.box {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

/* Todo 3.0: Create an animation that increases and decreases the scale of the box  */
.todo-0-container .box {
    animation: scaleAnimation 2s ease-in-out infinite alternate;
}

@keyframes scaleAnimation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

/* Todo 3.1: Create an animation that moves the box left and right.
Start with using "from" and "to". Now use "0%" and "100%" as your keyframes.
Set more keyframes between 0% and 100%. */
.todo-1-container .box {
    animation: moveAnimation 2s ease-in-out infinite alternate;
}

@keyframes moveAnimation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100px);
    }
}

/* Todo 3.2: Try the different timing functions such as linear, ease-in, ease-in-out, cubic-bezier, and steps */
.todo-2-container .box {
    animation: timingFunctionAnimation 3s infinite alternate;
}

@keyframes timingFunctionAnimation {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(50px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Todo 3.3: Create a transition that will raise the button up and will make it cast a shadow when you hover over the button */
/* Bonus: apply the transition on the box shadow with different duration and timing function. This should all be in one line */
.todo-3-container button {
    transition: transform 0.5s ease-in-out, box-shadow 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.todo-3-container button:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
